canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#aboutme-part{
    padding: 0px;
    .content{
        padding: 128px;
        color: white;
    }
}

.liquid-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

#liquid-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.liquid-overlay {
    position: absolute;
    top: 30%;
    left: 30%
}

#aboutme-part{
    position: relative;
}