main{
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(48rem, 1fr) minmax(1rem, 1fr);
}

span{
    height: 1rem;
}

.topbar{
    display: flex;
    justify-content: space-between;
    height: 44px;
    text-align: center;
}

.indicator{
    display: flex;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}
